* {
	margin: 0;
	padding: 0;
}

.container{
	width: 100%;
	height: 100%;	
	background-color: #b3d1ff;
}

div {
	
}

#inBox{
	text-align: center;
	font-family: 'volkswagenregular';
	background-color: #f0ede5;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	border: transparent;
	margin-top: 5;
	margin-left: 20;
	width: 100px;
	height: 30px;
	font-size: 16;
	clear: left;
	transition:.5s; 
	display:inline;
	width: 200px;
	height: 20px;
}

#Title{
	background-color: #3366FF;
	font-family: 'Quicksand';
	border-bottom: thick double black;
	text-align:center;
	alignment-adjust: center;
	width: 100%;
	color: white;
	text-align: center;
	height: 12%;
}


a {
	color: black;
	text-decoration: none;
}


#Trending{
	padding-top: 15px;
	padding-left: 10px;
	border-right: thick double black;
	font-family: 'quicksand';
	background-color: #b3d1ff;
	color: black;
	height: 77%;
	width: 19%;
	float: left;
}

#Map{
	background-color: #f0ede5;
	color:white;
	text-align: center;
	height: 78.5%;
	margin-left:20%;
	margin-right: 0%;
	width:  80%
}

#Search{
	background-color: green;
	color: blue;
	width: 40%;
	height: 20%;
	float: left;

}

#submit-button{
	text-align:center;
	alignment-adjust: center;
	text-align: center;
	font-family: 'volkswagenregular';
	background-color: #f0ede5;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	border: transparent;
	margin-top: 5;
	margin-left: 20;
	width: 100px;
	height: 30px;
	font-size: 16;
	clear: left;
	transition:.5s; 
	display:inline;
}

#submit-button:hover{
	background-color: #b3d1ff;
	color: white;
	width:200px;
	
}

#Info{
	border-top: thick double black;
	font-family: "Arial Black", Gadget, sans-serif;
	background-color: #3366FF;
	width: 100%;
	height: 8%;
	float: left;
}
