* {
	margin: 0;
	padding: 0;
}

body{
	min-width:620px;
}

.container{
	width: 100%;
	height: 100%;	
	background-color: #b3d1ff;
}

div {
	
}

#inBox{
	text-align: center;
	background-color: #f0ede5;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	border: transparent;
	margin-top: .1%;
	margin-left: 2%;
	width: 10%;
	height: 20%;
	clear: left;
	transition:.5s; 
	display:inline;
}

#Title{
	background-image: url("http://www.pptbackgrounds.net/uploads/cubes-squares-on-blue-background-backgrounds-wallpapers.jpg");

	border-bottom: thick double black;
	text-align:center;
	alignment-adjust: center;
	width: 100%;
	color: white;
	text-align: center;
	height: 12%;
}


label: {
	color: blue;
	text-decoration: none;
	cursor: pointer;
}

label:hover{
	cursor: pointer;
}


#Trending{
	
	border-right: thick double black;
	padding-left: 1%;
	padding-top: 1%;
	background-color: #b3d1ff;
	color: black;
	height: 75%;
	width: 18.7%;
	float: left;
}

#Map{
	background-color: #f0ede5;
	color:white;
	text-align: center;
	height: 76.5%;
	width:  79.7%;
	float: right;
	
}

#Search{
	background-color: #f0ede5;
	color: blue;
	width: 40%;
	alignment-adjust: center;
	height: 20%;

}

#submit-button{
	text-align:center;
	alignment-adjust: center;
	text-align: center;
	background-color: #f0ede5;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	border: transparent;
	margin-top: .5%;
	margin-left: 1%;
	width: 5%;
	height: 25%;
	clear: left;
	transition:.5s; 
	display:inline;
}

#submit-button:hover{
	background-color: #b3d1ff;
	color: white;
	cursor: pointer;
	
}

#submit-button:after{
	cursor: wait;
}

.moodButton{
	text-align:center;
	alignment-adjust: center;
	text-align: center;
	border-radius: 6px;
	border: transparent;
	margin-top: .5%;
	margin-left: 1%;
	width: 100px;
	height: 25px;
	clear: left;
	transition: .5s;
	display:inline;
}

.moodButton-off{
	text-align:center;
	background-color:white;
	alignment-adjust: center;
        text-align: center;
        border-radius: 6px;
        border: transparent;
        margin-top: .5%;
        margin-left: 1%;
        width: 100px;
        height: 25px;
        clear: left;
        transition: .5s;
        display:inline;
}
#neutral{
        //background-color: yellow;
}

#neutral:hover{
        background-color: #f0ede5;
        color: black;
        cursor: pointer;

}

#neutral:after{
        cursor: wait;
}


#negative{
        //background-color: orange;
}

#negative:hover{
        background-color: #f0ede5;
        color: black;
        cursor: pointer;

}

#negative:after{
        cursor: wait;
}



#positive{
        //background-color: #1DCF32;
}

#positive:hover{
        background-color: #f0ede5;
        color: black;
        cursor: pointer;

}

#positive:after{
        cursor: wait;
}


#veryNegative{
        //background-color: #E83333;
}

#veryNegative:hover{
        background-color: #f0ede5;
        color: black;
        cursor: pointer;

}

#veryNegative:after{
        cursor: wait;
}

#veryPositive{
        //background-color: #3E4BFA;
}

#veryPositive:hover{
        background-color: #f0ede5;
        color: black;
        cursor: pointer;

}

#veryPositive:after{
        cursor: wait;
}




#Info{
	border-top: thick double black;
	background-color: #3366FF;
	width: 99%;
	color:white;
	padding-left: 1%;
	background-image: url("http://www.pptbackgrounds.net/uploads/cubes-squares-on-blue-background-backgrounds-wallpapers.jpg");
	height: 9.6%;
	float: left;
}
